* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header-style-starts */
.header {
  background-image: url("../images/banner/banner1.png");
  background-size: cover;
  height: 800px;
  width: 100%;
}
.banner-details {
  text-align: right;
  padding-top: 216px;
  padding-right: 230px;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
}

.banner-details p {
  text-align: right;
  font-size: 16px;
  color: #444343;
  margin-top: 24px;
}

.contact-btn {
  font-weight: 600;
  font-size: 20px;
  width: 160px;
  height: 64px;
  background: #f15b22;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  margin-top: 32px;
}
/* header-style-end */

/* about-style-starts */

.about {
  display: flex;
  margin-top: 130px;
  gap: 87px;
}

.about-pic {
  margin-left: 206px;
}

.about-info {
  padding-top: 310px;
  padding-left: 100px;
}

.about-info h3 {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
}

.about-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  line-height: 20px;
  margin-bottom: 14px;
}

.about-description-point {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  line-height: 20px;
}

.about-description-point li {
  list-style: none;
  margin-left: -40px;
}
/* about-style-end */

/* plan-style-starts */
.plan {
  margin-top: 130px;
}
.plan h2 {
  text-align: center;
}

.plan-details {
  display: flex;
  padding: 80px 220px;
  justify-content: space-between;
}

.plan-det {
  text-align: center;
}
.plan-subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #151414;
}

.plan-description {
  text-align: center;
  font-weight: 500;
font-size: 25px;
}
/* plan-style-end */
