* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* header-style-starts */
.header {
  background-image: url("../images/banner/banner1.png");
  background-size: cover;
  height: 800px;
  width: 100%;
}
.banner-details {
  text-align: right;
  padding-top: 216px;
  padding-right: 230px;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
}

.banner-details p {
  text-align: right;
  font-size: 16px;
  color: #444343;
  margin-top: 24px;
}

.contact-btn {
  font-weight: 600;
  font-size: 20px;
  width: 160px;
  height: 64px;
  background: #f15b22;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  margin-top: 32px;
}
/* header-style-end */

/* about-style-starts */
.about {
  display: flex;
  margin-top: 130px;
  gap: 87px;
}

.about-pic {
  margin-left: 206px;
}

.about-info {
  padding-top: 310px;
  padding-left: 100px;
}

.about-info h3 {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
}

.about-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  line-height: 20px;
  margin-bottom: 14px;
}

.about-description-point {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  line-height: 20px;
}

.about-description-point li {
  list-style: none;
  margin-left: -40px;
}
/* about-style-end */

/* plan-style-starts */
.plan {
  margin-top: 130px;
}

.plan h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.plan-details {
  display: flex;
  padding: 80px 220px;
  justify-content: space-between;
}

.plan-det {
  text-align: center;
}

.plan-subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #151414;
}

.plan-description {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
}
/* plan-style-end */

/* mindset-style-start */
.mindset {
  background-image: url("../images/watch.png");
  margin-left: 220px;
  margin-right: 220px;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.mindset h2 {
  padding-left: 59px;
  color: #ffffff;
  padding-top: 64px;
  padding-bottom: 58px;
  margin-right: 220px;
  font-weight: 700;
  font-size: 40px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 0, 0.8) 20%,
    rgba(255, 0, 0, 0.7) 40%,
    rgba(255, 0, 0, 0.4) 70%,
    rgb(255, 0, 0, 0) 100%
  );
}

.call-mindset-btn {
  margin-top: 15px;
  padding: 13px 35px;
  border-radius: 5px;
  border: 0;
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
}
/* mindset-style-end */

/* explore-style-starts */
.explore {
  margin-top: 130px;
}

.explore h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.explore-details {
  margin-left: 220px;
  margin-right: 220px;
  display: flex;
  margin-top: 50px;
}

.explore-one {
  padding: 15px;
  background-color: #f15b22;
  margin: 15px;
  border-radius: 5px;
  font-weight: 400;
  color: #151414;
  margin-bottom: 24px;
  font-size: 16px;
  width: 100%;
}

.explore-one h3 {
  text-align: center;
  color: aliceblue;
}

.explore-one h5 {
  text-align: center;
  color: aliceblue;
  margin-top: 15px;
}
.explore-one h4 {
  text-align: center;
  color: aliceblue;
  margin-top: 5px;
}
.explore-one p {
  text-align: justify;
  color: #ffffff;
  padding: 12px;
  border-radius: 5px;
  border: none;
}


.explore-one img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 95px;
  margin-top: 10px;
  border: 2px solid #ffffff;
}

/* footer-style-starts */
.footer {
  margin-top: 130px;
  display: flex;
  padding-bottom: 130px;
  gap: 280px;
  background-color: #151414;
  background-size: cover;
}

.future h3 {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  padding: 130px 0 0 220px;
  margin-bottom: 16px;
}

.future p {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-left: 220px;
  margin-bottom: 16px;
}
.future .social {
  margin-left: 220px;
  margin-top: 45px;
}

.future .social a {
  margin-right: 17px;
}

.subscribe h5 {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  padding-top: 130px;
  margin-bottom: 16px;
  text-align: left;
}

.subscribe-mail {
  padding: 21px 158px 22px 21px;
  font-weight: 400;
  font-size: 18px;
  color: #f3f3f3;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #151414;
}

::placeholder {
  color: rgb(255, 255, 255);
}

.subscribe-btn {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 20px 36px;
  border-radius: 5px;
  border: 0;
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
}
/* footer-style-end */
